# Base URL for the Search & Merch API (no trailing slash)
VITE_API_URL=https://backend.dev.searchandmerch.com/api

# URL for the Search & Merch developer docs (shown in the footer)
VITE_DOCS_URL=https://docs.dev.searchandmerch.com

# Your organisation ID (UUID) from the Search & Merch dashboard
VITE_ORGANISATION_ID=

# The product feed ID to power the /shop page lister
VITE_FEED_ID=

# The recommendation ID to power the "You Might Like" widget on the home page
VITE_RECOMMENDATION_ID=
